[program:blackfire-agent]
command=blackfire-agent --server-id=%(ENV_BLACKFIRE_SERVER_ID)s --server-token=%(ENV_BLACKFIRE_SERVER_TOKEN)s --socket=tcp://0.0.0.0:8707
autostart=true
priority=3
stdout_events_enabled=true
stderr_events_enabled=true
stdout_logfile_maxbytes=0
stderr_logfile_maxbytes=0
stdout_logfile=/dev/stdout
stderr_logfile=/dev/stderr
